#login-eror {
 witdh: 23%;
 taxt-align: center;
 margin: 0;
 padding: 5px;
 font-size: 12px;
 font-weitght: 12px;
 color:#8a0000;
 border: 1px solid #8a0000;
 background-color: aliceblue;
 opacity: 0;
}