body{
   font-family: 'Times New Roman', Times, serif;
   font-size: 13px; 
}
th{
    text-align: left;
}
img{
    width: 100%;
    margin-bottom: 10px;
}
.outline{
    border: 1px solid brown;
    width: 60%;
    margin: 20px auto;
    padding: 25px;

}
.Judul{
    text-align: center;
    background-color: aqua;
}
.blok{
    overflow: hidden;
}
.kiri{
    width: 20%;
    float: left;
}
.kanan{
    width: 70%;
    padding: 0px 20px;
    float: left;
}

@media only screen and(max-width:768px){
    .outline{
        width: 100%;
        margin: none;
        padding: 0px;
    }
   .kiri{
    width: 100%;
    float: left;
}
.kanan{
    width: 100%;
    padding: 0px 20px;
    float: left;
} 
}